<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title><%=user%>的说说 - 班级说说</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/jumbotron.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 120px;
        }
        .one{
            border-bottom: 1px solid #ccc;
        }
    </style>
</head>

<body>
<% include header.ejs %>

<div class="container">
    <img src="/avatar/<%=cirentouxiang%>" alt=""/>
    <h1><%=user%>的个人主页</h1>
    <!-- Example row of columns -->
    <div class="row col-lg-6">
        <%for(var i = 0 ; i < cirenshuoshuo.length ; i++){%>
        <div class="one">
            <p> <%=cirenshuoshuo[i].content%></p>
            <p> <%=cirenshuoshuo[i].datetime%></p>
        </div>



        <%}%>
    </div>
</div>

<hr>

<footer>
    <p>&copy; Company 2014</p>
</footer>
</div>
<!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
